*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
div span:nth-child(2) {
    color: red;
}
.content {
    position: relative;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    border: 2px solid black;
}
.sale {
    z-index: 2;
    position: relative;
    top: -25px;
    width: 40%;
    background-color: aqua;
}

/* cau 2 */

.image p:nth-child(1) {
    position: absolute;
    left: 0;
    background-color: red;
}
.image p:nth-child(1):before {
    background-color: rgb(28, 141, 28);
    width: 2px;
}
.image p:nth-child(2) {
    position: absolute;
    right: 0;
    background-color: rgb(56, 172, 56);
}