<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        <h1>hello everybody</h1>
        <p>my name is Nhat, I come from Quang Nam</p>
        <img class="w3-hover-grayscale" src="/images/74617582_943231052718393_6967090858587848704_o.jpg" alt="">
    </div>
</body>
</html>